
html, body{
  width: 100vw;
  height: 100vh;
  margin: 0px;
  border: 0px;
}
body{
  overflow-x: hidden;
  overflow-y: auto;
}

li{
  color: grey;
  font-style: bold;
  font-weight: bold;
  display: block;
  float: left;
  transition:1s;
  transition-property: color, font-size;
}

li:hover{
  color: black ;
  font-size: 17pt;
}


.list1 {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 2vw;
}

.blank{
  width: 20vw;

}
ul{
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 60vw;
}

.logo{
   width: 150px;
   height: 80px;
   border-left: auto;
   border-right: auto;
   background-color: white;
   display:block;
}

.container{
  width: 100vw;
  height: 115vh;
  background-color: white;
}

.navbar{
  width: 100%;
  height: 25vh;
  background-color: #eae8ea;
  display: flex;
  flex-direction:column;
}
.navtop{
  margin:auto;
  margin-bottom:30px;
  padding:0;
  font-size: 40px;
  color: var(--text-color);
  justify-content: center;
  transition: 1s;
}
.navtop:hover{
  color: darkviolet;
}
.navtop a:hover{
  color:darkviolet;
}
.navmid{
  display:  flex;
  height: 30%;
}
.navbot{
  display: flex;
  justify-content:flex-end;
  margin-right: 15vw;

}

.navtop{
  margin-top: 4vh;
}

.button{
  background-color: #eae8ea;
  font-size: small;
  color: grey;
  border: 2px solid grey;
  margin: 5px;
  padding: 10px;
  transition: 1s;
  height: auto;
  width: auto;
  display: inline-flex;
  vertical-align: middle;
  font-weight: bold;
}
.button:hover{
  background-color: white;
}

.bottonbox{
  width: 20vw;
  position: block;
  display: block;
}

.slide_box{
  width: 60vw;
  height: 60vh;
  background-color: #eae8ea;
  margin-top: 7vh;
}

.contents_box{
  height: 75vh;
  background-color: white;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.footer{
  height: 15vh;
  background-color: #eae8ea;
  position:relative;
}

.slide{
  height: 60vh;
  width: 60vw;
  display: block;
  transition: 1s;
  position: absolute;
  opacity: 0;
  z-index: 1;
}

#s1{
  background-color: skyblue;
  opacity: 1;
}
#s2{
  background-color: blue;
  opacity: 0;
}
#s3{
  background-color: green;
}
#s4{
  background-color: black;
}
#s5{
  background-color: orange;
}

.dot{
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: grey;
  border-radius: 50%;
  z-index: 5;
  margin: 5px;
  opacity: 0.5;
  transition: 1s;
}
.dotbox{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  top: 90%;
  z-index: 6;
}

.footerleft{
  font-weight: bold;
  color: grey;
  width: 70vw;
  position: relative;
  display: inline-block;
  left: 6vw;
  top: 4vh
}

.footerright{
  display: inline-block;
  font-size: 20px;
  font-weight:400;
  letter-spacing: 1vw;
  position: absolute;
  top: 50px;
  right:50px;
}

.reviews{
  font-size: normal;
  color: grey;
  border: 2px solid grey;
  margin: 10px;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  transition: 1s;
  height: 15px;
  width: auto;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  position: absolute;
  left: 85vw;
  top: 40vh;
  transition: 1s;
}

#ri{
  z-index: 6;
}

.reviews:hover{
  background-color: #eae8ea;
}

.button a{
  color: grey;
  text-decoration: none;
}

.reviews a{
  color: grey;
  text-decoration: none;
}

.footerright a{
  color: grey;
}

#lgin{
  display: none;
}
/*Responsive Styles*/

/* Smartphones (portrait) ---------------- */

@media only screen and (max-width : 320px){
  .contents_box{
    background-color: red;
  }
}



/* Smartphones (landscape) ---------------- */

@media only screen

and (min-width : 321px)

and (max-width : 799px)

{

  .list1 {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 1vw;
  }

.logo{
  width: 100px;
  height: 50px;
}

li{
  font-size: 9pt;
}

li:hover{
  font-size: 13pt;
}

.button{
  font-size: 5pt;
  padding: 5px;
  margin: 3px;
}

.blank{
  width: 15vw;
}
.buttonbox{
  position: relative;
  width: 15vw;
  right: 30px;
}
ul{
  width: 70vw;
}
.navbar{
  width: 100vw;
}
.reviews{

  font-size: 12px;
  padding: 10px;
  margin: 5px;
  margin-left: 0px;
}
.dot{
  width: 12px;
  height: 12px;
}
.footer{
  font-size: 10pt;
}

.button{
  display: none;
}
#lgin{
  display: block;
  font-size: 10pt;
  border: none;
  margin-left: 30px;
  background-color: none;
}

}


/* Tablets (landscape) ------------------- */

@media only screen

and (min-device-width : 800px)

and (max-device-width : 1024px)

and (orientation : landscape)

{

  .logo{
    width: 100px;
    height: 50px;
  }

  li{
    font-size: 11pt;
  }

  li:hover{
    font-size: 13pt;
  }

  .button{
    font-size: 5pt;
    padding: 5px;
    margin: 3px;
  }

  .blank{
    width: 15vw;
  }
  .buttonbox{
    position: relative;
    width: 15vw;
    right: 30px;
  }
  ul{
    width: 70vw;
  }
  .navbar{
    width: 100vw;
  }
  .reviews{
    font-size: 12px;
    padding: 10px;
    margin: 5px;
    margin-left: 0px;
  }
  .dot{
    width: 12px;
    height: 12px;
  }
  .footer{
    font-size: 10pt;
  }

}




/* Old Desktops and laptops ------------------ */

@media only screen

and (min-width : 1025px)

{

  li:hover{
    color: black ;
    font-size: 15pt;
  }

}
