
.nav1 {
	height: 110px;
	border-bottom: 2px solid gray;
	display: flex;
	align-items: center;
}

.nav1-items {
	display: flex;
	font-size: 23px;
	margin-left: 250px;
	font-weight: bold;
}

.nav1-items a {
	margin-left: 35px;
}


.nav1-item1 {
	color: black;
}


.main {
	width: 950px;
	margin: 0 auto;
	margin-top: 60px;
}

.title {
	text-align: center;
	font-size: 30px;
	font-weight: 400;
}

.subtitle {
	text-align: center;
	font-size: 20px;
	font-weight: 300;
}

.RV {
	display: flex;
	margin-top: 30px;
}

.RV-item {
	height: 230px;
	margin: 20px;
	background-color: white;
	border: 8px solid rgb(233, 233, 233);
}

.RV-item-box {
	width: 220px;
	height: 180px;
	margin: 20px;
}

.RV-item-DAY {
	font-size: 15px;
	color: rgb(85, 117, 253);
}

.RV-item-MENU {
	font-size: 15px;
	margin: 10px 0px;
	font-weight: bold;
	color: black;
}

.RV-item-CONTENT {
	font-size: 13px;
	margin-top: 0px;
	width: 220px;
	height: 100px;
	font-weight: bold;
	color: black;
}


.RV-item-HITS {
	text-align: right;
	font-size: 13px;
	margin-bottom: 15px;
	color: rgb(109, 109, 109);
}

.page {
	width: 500px;
	margin: auto;
	text-align: center;
}

.page-items {
	text-align: center;
}

.page-item0 {
	margin-right: 10px;

}



@media (min-width : 321px) and (max-width : 560px) {
	.nav1-items {
		display: none;
	}
}

@media (min-width : 560px) and (max-width : 770px) {
	.nav1-items {
		display: none;
	}
}
